/* Estilos para o corpo do documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #41035a;
}

/* Estilos para o cabeçalho */
header {
    background-color: #3e045f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para a barra de navegação */
nav {
    background-color: #11004e;
    color: #ffffff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para as seções */
section {
    padding: 40px;
    background-color: #fcf9ff;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #555;
    color: #fff;
}

/* Estilos para os cabeçalhos das seções */
h2 {
    color: #333;
}

/* Estilos para links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
